* {
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: x-large;

}
#h1 {
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}

img {
    width: 100px;
}

.rodape {
    background: linear-gradient(to right, #2a4b74, #2a7b74); /* Verde degradê */
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: fixed;  /* ou 'fixed' se quiser fixo no final da tela */
    bottom: 0;
    width: 100%;
   
}

.rodape p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;

}

@keyframes pulo {
    0% {
        transform: translateY(0); /* Posição inicial (normal) */
    }
    50% {
        transform: translateY(-20px); /* Pulo para cima */
    }
    100% {
        transform: translateY(0); /* Posição final (volta para o normal) */
    }
}

#pame, #corinthi, #sant {
    
        animation: pulo 1s ease-in-out 2; /* Animação de 1 segundo, 2 vezes */
    
}

h2, h3, h4 {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

h2 {
    background-color: greenyellow;
}

h3 {
    color: aliceblue;
    background: linear-gradient(to right,#000000,#cf0e0e);
}

h4  {
    color: rgb(8, 8, 8);
    background: linear-gradient(to right,#0aa4fd,#6257fc);
}




